@model DataV.Models.Customer

@{
    ViewData["Title"] = "Details";
}

@{
    Layout = "";
}

<h1>Customer Details</h1>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
</div>
<br />
<br />
<div>
    @*<a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |*@
    <a onclick="showInPopup('@Url.Action("Edit","Customers",new {id=Model.Id}, Context.Request.Scheme)','Customer Details')=''" class="btn-group-lg">Edit</a>  |
    <br />
    <a asp-action="Index">Back to List</a>
</div>
