@model IEnumerable<DataV.Models.Customer>

@{
    ViewData["Title"] = "Index";
}









<h1 class="text-center"><i class="fas fa-cog fa-spin"></i>Customer Overview</h1>
<br />
<br />
<br />
<br />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>

                Actions
            </th>

        </tr>
    </thead>
    <tbody>


        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |*@
                    <a onclick="showInPopup('@Url.Action("Edit","Customers",new {id=item.Id}, Context.Request.Scheme)','Customer Details')=''" class="btn-group-lg">Edit</a>  |
                    <a onclick="showInPopup('@Url.Action("Details","Customers",new {id=item.Id}, Context.Request.Scheme)','Customer Details')=''" class="btn-group-lg">Details</a>  |
                    <a onclick="showInPopup('@Url.Action("Delete","Customers",new {id=item.Id}, Context.Request.Scheme)','Customer Details')=''" class="btn-group-lg">Delete</a>  |
                  @*  <a asp-action="Details" asp-route-id="@item.Id">Details</a> |*@
                   @* <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
                   
                </td>
               
            </tr>
        }
    </tbody>
</table>



<br />
<br />
<button type="button" onclick="showInPopup('@Url.Action("Create","Customers",null, Context.Request.Scheme)','New Customer')=''" class="btn btn-primary  btn-lg-Info">Create New</button>
@* <p> <a asp-action="Create">Create New</a></p> *@